@using WarehouseAssistant.WebUI.Components
<CascadingAuthenticationState>
	<Router AppAssembly="typeof(MainLayout).Assembly">
		<Found Context="routeData">
			<FocusOnNavigate RouteData="@routeData" Selector="h1"/>
			<AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(MainLayout)">
				<NotAuthorized>
					<div class="not-authorized">
						<h1>Вы не авторизованы.</h1>
						<p>Пожалуйста <a href="/">войдите</a> для доступа к странице.</p>
					</div>
				</NotAuthorized>
				<Authorizing>
					<div>Authorizing...</div>
				</Authorizing>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<PageTitle>Not found</PageTitle>
			<LayoutView Layout="@typeof(MainLayout)">
				<p role="alert">Sorry, there's nothing at this address.</p>
			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>